@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Call</PageTitle>

<h1>Send Call</h1>

<button class="btn btn-primary" @onclick="Connect">Connect</button>
<button class="btn btn-primary" @onclick="SendCall">Send Call</button>

@code {

    int tableNumber = 10;
    HubConnection connection;
    protected override void OnInitialized()
    {
        connection = new HubConnectionBuilder()
            .WithUrl("http://localhost:59748/waiterCallHub")
            .Build();

        base.OnInitialized();
    }
    
    private async Task SendCall()
    {
        try
        {
            await connection.InvokeAsync("SendCall", tableNumber);
            Console.WriteLine("call sent!");
            tableNumber++;

        }
        catch (Exception e)
        {
            Console.WriteLine("call sending failed!");
            throw;
        }

    }

    private async Task Connect()
    {

        try
        {
            await connection.StartAsync();
            Console.WriteLine("connection established!");

        }
        catch (Exception e)
        {
            Console.WriteLine("connection failed!");
            Console.WriteLine(e);
        }
    }

}
